<div>
    <p>Aceptar compra</p>
    <p>Forma de pago</p>
    <p>Efectivo</p>
    <input type="radio" id="html" name="fav_language" value="HTML">
    <p>Transferencia bancaria</p>
    <input type="radio" id="html" name="fav_language" value="HTML">
    <p>Dirreccion de entrega:</p>
    <select name="select">
        <option value="value1">Dirreccion 2</option>
        <option value="value2">Dirreccion 1</option>
    </select>
    <p>Numero contacto: 09991887965</p>
    <a [routerLink]="['/cliente/carrito']">Aceptar</a>
    <button (click)="regresarPaginaAnterior()">Regresar</button>
</div>